@import '../variables.scss';

.footer {
  display: flex;
  height: 80px;
  background-color: $color-black;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;

    a {
      color: $color-white;
    }
  }
}
