.modal {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: $color-pink;
  border-radius: 10px;
  align-items: center;

  &--title {
    text-align: center;
    width: 100%;
  }
}

.settings-container {
  display: flex;
}

.container {
  &__option {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow:
      -1px 0px 0px 0px rgba(0, 0, 0, 1),
      1px 0px 0px 0px rgba(0, 0, 0, 1);

    &--select,
    &--form,
    &--group {
      display: flex;
      padding: 5px 0;

      .label {
        padding-right: 5px;
      }

      .option {
        font-size: 14px;
      }
    }
  }
}
