.modalWrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #6D435A;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
}

.modalTitle {
    text-align: center;
    color: #FFFCF9;
}

.modalMain {
    display: flex;
}

.modalMainFirst {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 5px;
}

.modalMainSecond {
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 5px;
}

.modalBtnContainer {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    width: 100%;
}

.modalBtn {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #FF6978 90%;
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

label {
    color: #FFFCF9;
}